.boardContainer {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  padding: 0.8rem;
  border: solid red 3px;
  display: grid;
  grid-template-columns: [line1-start] 7.2rem [line2] 7.2rem [line3] 7.2rem [line4] 7.2rem [line5] 7.2rem [line6] 7.2rem [line7] 7.2rem [line8] 7.2rem [line9] 7.2rem [line10] 7.2rem [line11-end];
  grid-column-gap: 1.2rem;
  grid-template-rows: [row1-start] 5.2rem [row2] 5.2rem [row3] 5.2rem [row4] 5.2rem [row5] 5.2rem [row6] 5.2rem [row7] 5.2rem [row8] 5.2rem [row9] 5.2rem [row10] 5.2rem [row11-end];
  grid-row-gap: 0.4rem;
}

.boardSpace {
  border: solid 1pt gray;
  background-color: white;
  border-radius: 5%;
  text-align: center;
  background-repeat: no-repeat;
}

.spades {
  background-image: url("../../assets/spades.png");
  background-size: 100%;
}

.diamonds {
  background-image: url("../../assets/diamonds.png");
  background-size: 100%;
}

.clubs {
  background-image: url("../../assets/clubs.png");
  background-size: 80%;
  background-position-y: 99%;
  background-position-x: center;
}

.hearts {
  background-image: url("../../assets/hearts.png");
  background-size: 80%;
  background-position: center;
}

.cardValue {
  font-size: 1.5em;
  color: white;
}
